.tox
.mypy_cache
.venv
dist
*.egg-info
__pycache__
.coverage
coverage.xml
.protoc-gen-doc
.coverage
.env
retina/_*/testbed.yml
node_modules
out.xml
report.html
log/
amarisoft/
amarisoft*.tar.gz
libtrx*.so
