# SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
# SPDX-License-Identifier: BSD-3-Clause-Open-MPI

---
extends: default

rules:
  line-length: disable
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: true
  key-duplicates: enable
  document-end: disable
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation:
    level: error
  trailing-spaces: enable
  new-line-at-end-of-file: enable

ignore: |
  e2e/tests/test_mode/
  e2e/tests/configs/gnb/
  e2e/log/
  docs/node_modules/
  retina/_scripts/testbed.yml
