#
# Copyright 2021-2026 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

replicaCount: 1

image:
  repository: softwareradiosystems/linuxptp
  pullPolicy: IfNotPresent
  tag: "{{ image_tag }}"

imagePullSecrets:
  - name: regcred

nameOverride: "linuxptp-{{ node_name }}"
fullnameOverride: "linuxptp-{{ node_name }}"

serviceAccount:
  create: true
  annotations: {}
  name: "linuxptp-{{ node_name }}"

podAnnotations: {}

podSecurityContext: {}

securityContext:
  capabilities:
    add: ["SYS_NICE", "NET_ADMIN"]
  privileged: true

resources: {}

nodeSelector:
  kubernetes.io/hostname: {{ node_name }}

tolerations:
  - effect: NoSchedule
    operator: Exists
  - key: CriticalAddonsOnly
    operator: Exists
  - effect: NoExecute
    operator: Exists
{% if node_name == "dell-xr12" %}
  - key: "machine"
    operator: "Equal"
    value: "{{ node_name }}"
    effect: "NoSchedule"
{% endif %}

affinity: {}

# comma separated list for LLS-C1 for ptp4l
# interfaceNameList: "ens3f0np0;ens3f1np1"
interfaceNameList: "{{ interface_name }}"

startupProbe:
  enabled: true
  failureThreshold: 30
  periodSeconds: 10

livenessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 5

readinessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 5

# Enable to sync PHC time to NTP time
# before running PTP service
ntp:
  enabled: false
  server: "pool.ntp.org"

config:
{% if config %}
{% if "dataset_comparison" in config and config.dataset_comparison is not none %}
  dataset_comparison: {{ config.dataset_comparison }}
{% endif %}
{% if "G.8275.defaultDS.localPriority" in config and config["G.8275.defaultDS.localPriority"] is not none %}
  G.8275.defaultDS.localPriority: {{ config["G.8275.defaultDS.localPriority"] }}
{% endif %}
{% if "maxStepsRemoved" in config and config.maxStepsRemoved is not none %}
  maxStepsRemoved: {{ config.maxStepsRemoved }}
{% endif %}
{% if "logAnnounceInterval" in config and config.logAnnounceInterval is not none %}
  logAnnounceInterval: {{ config.logAnnounceInterval }}
{% endif %}
{% if "logSyncInterval" in config and config.logSyncInterval is not none %}
  logSyncInterval: {{ config.logSyncInterval }}
{% endif %}
{% if "logMinDelayReqInterval" in config and config.logMinDelayReqInterval is not none %}
  logMinDelayReqInterval: {{ config.logMinDelayReqInterval }}
{% endif %}
{% if "serverOnly" in config and config.serverOnly is not none %}
  serverOnly: {{ config.serverOnly }}
{% endif %}
{% if "clientOnly" in config and config.clientOnly is not none %}
  clientOnly: {{ config.clientOnly }}
{% endif %}
{% if "G.8275.portDS.localPriority" in config and config["G.8275.portDS.localPriority"] is not none %}
  G.8275.portDS.localPriority: {{ config["G.8275.portDS.localPriority"] }}
{% endif %}
{% if "domainNumber" in config and config.domainNumber is not none %}
  domainNumber: {{ config.domainNumber }}
{% endif %}
{% if "ptp_dst_mac" in config and config.ptp_dst_mac is not none %}
  ptp_dst_mac: {{ config.ptp_dst_mac }}
{% endif %}
{% if "p2p_dst_mac" in config and config.p2p_dst_mac is not none %}
  p2p_dst_mac: {{ config.p2p_dst_mac }}
{% endif %}
{% if "uds_address" in config and config.uds_address is not none %}
  uds_address: {{ config.uds_address }}
{% endif %}
{% if "network_transport" in config and config.network_transport is not none %}
  network_transport: {{ config.network_transport }}
{% endif %}
{% if "delay_mechanism" in config and config.delay_mechanism is not none %}
  delay_mechanism: {{ config.delay_mechanism }}
{% endif %}
{% if "time_stamping" in config and config.time_stamping is not none %}
  time_stamping: {{ config.time_stamping }}
{% endif %}
{% if "tx_timestamp_timeout" in config and config.tx_timestamp_timeout is not none %}
  tx_timestamp_timeout: {{ config.tx_timestamp_timeout }}
{% endif %}
{% if "clock_servo" in config and config.clock_servo is not none %}
  clock_servo: {{ config.clock_servo }}
{% endif %}
{% if "tsproc_mode" in config and config.tsproc_mode is not none %}
  tsproc_mode: {{ config.tsproc_mode }}
{% endif %}
{% if "delay_filter" in config and config.delay_filter is not none %}
  delay_filter: {{ config.delay_filter }}
{% endif %}
{% if "delay_filter_length" in config and config.delay_filter_length is not none %}
  delay_filter_length: {{ config.delay_filter_length }}
{% endif %}
{% if "egressLatency" in config and config.egressLatency is not none %}
  egressLatency: {{ config.egressLatency }}
{% endif %}
{% if "ingressLatency" in config and config.ingressLatency is not none %}
  ingressLatency: {{ config.ingressLatency }}
{% endif %}
{% if "clockClass" in config and config.clockClass is not none %}
  clockClass: {{ config.clockClass }}
{% endif %}
{% if "clock_type" in config and config.clock_type is not none %}
  clock_type: {{ config.clock_type }}
{% endif %}
{% if "clockAccuracy" in config and config.clockAccuracy is not none %}
  clockAccuracy: {{ config.clockAccuracy }}
{% endif %}
{% if "summary_interval" in config and config.summary_interval is not none %}
  summary_interval: {{ config.summary_interval }}
{% endif %}
{% if "ts2phc" in config and config.ts2phc is not none %}
  ts2phc:
{% if "enabled" in config.ts2phc and config.ts2phc.enabled is not none %}
    enabled: {{ "true" if config.ts2phc.enabled else "false" }}
{% endif %}
{% if "use_syslog" in config.ts2phc and config.ts2phc.use_syslog is not none %}
    use_syslog: {{ config.ts2phc.use_syslog }}
{% endif %}
{% if "verbose" in config.ts2phc and config.ts2phc.verbose is not none %}
    verbose: {{ config.ts2phc.verbose }}
{% endif %}
{% if "logging_level" in config.ts2phc and config.ts2phc.logging_level is not none %}
    logging_level: {{ config.ts2phc.logging_level }}
{% endif %}
{% if "ts2phc.pulsewidth" in config.ts2phc and config.ts2phc["ts2phc.pulsewidth"] is not none %}
    ts2phc.pulsewidth: {{ config.ts2phc["ts2phc.pulsewidth"] }}
{% endif %}
{% if "ts2phc.nmea_serialport" in config.ts2phc and config.ts2phc["ts2phc.nmea_serialport"] is not none %}
    ts2phc.nmea_serialport: {{ config.ts2phc["ts2phc.nmea_serialport"] }}
{% endif %}
{% if "ts2phc.extts_polarity" in config.ts2phc and config.ts2phc["ts2phc.extts_polarity"] is not none %}
    ts2phc.extts_polarity: {{ config.ts2phc["ts2phc.extts_polarity"] }}
{% endif %}
{% endif %}
{% endif %}

