{#
SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
SPDX-License-Identifier: BSD-3-Clause-Open-MPI
#}

#
# Copyright 2021-2026 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

resource "helm_release" "tuned-{{ node_name }}" {
  name       = "tuned-{{ node_name }}"
  namespace  = "infra"
  repository = "https://srsran.github.io/srsRAN_Project_helm"
  chart      = "tuned"
  version    = var.tuned_version

  values = [
    file("../manifests/{{ node_name }}.yaml")
  ]

  lifecycle {
    ignore_changes = [
      description
    ]
  }
}

