{#
SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
SPDX-License-Identifier: BSD-3-Clause-Open-MPI
#}

#
# Copyright 2021-2026 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

resource "helm_release" "{{ runner.resource_name }}" {
  name       = "{{ runner.resource_name }}"
  namespace  = "gitlab-runner"
  repository = "https://charts.gitlab.io"
  chart      = "gitlab-runner"
  version    = "{{ helm_version }}"

  values = [
    file("../manifests/{{ runner.manifest_filename }}")
  ]

  lifecycle {
    ignore_changes = [
      description
    ]
  }
}
